@model  FootballOracle.Models.ViewModels.Approvable.Countries.BaseCountryViewModel

@{ ViewBag.Title = "Create new country:"; }

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        @Html.EditorForModel()
    </div>
</div>