@model FootballOracle.Models.ViewModels.Approvable.Competitions.BaseCompetitionViewModel
@{
    ViewBag.Title = "MatchValidation";
}

@Html.DisplayForModel()

<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-sm btn-default" href="@Url.Action("Import")">Import from ESPN</a>
            <a class="btn btn-sm btn-default" href="@Url.Action("MatchValidation")">Match validation</a>
        </div>

    </div>
</div>

@Html.SelectTab("admin")
