@model FootballOracle.Models.ViewModels.Approvable.Matches.BaseMatchViewModel
@{
    ViewBag.Title = "Import";
}

@Html.DisplayForModel()

<div class="row">
    <div class="col-md-12">
    </div>
</div>

@Html.SelectTab("import")


