@using Kendo.Mvc.UI

@model FootballOracle.Models.ViewModels.Approvable.Matches.MatchProgressViewModel

@{ ViewBag.Title = string.Format("'{0}' progress", Model.ToString()); }

@Html.DisplayForModel()

<div class="row col-md-12">
    <div class="chart-wrapper">
        @(Html.Kendo().Chart(Model.TeamPositionChartData)
            .Name("chart")
            .Title("League positions")
            .Legend(legend => legend
                .Position(ChartLegendPosition.Bottom)
            )
            .DataSource(d => d.Group(g => g.Add(m => m.GroupData.Description)))
            .Series(s => s.Line(m => m.Position).Tooltip(t => t.Template("#= dataItem.Tooltip #")).Name("#= group.value #"))
            
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .SeriesDefaults(seriesDefaults =>
                seriesDefaults.Line().Style(ChartLineStyle.Smooth)
            )
            .CategoryAxis(axis => axis
                .Categories(m => m.DateValue)
                .Date()
                    .Min(Model.TeamPositionChartData.Min(m => m.DateValue))
                    .Max(Model.TeamPositionChartData.Max(m => m.DateValue))
                    .Labels(l => l.Step(14).Format("d MMM").Rotation(-45))
                .BaseUnit(ChartAxisBaseUnit.Days)
                .MajorGridLines(m => m.Visible(false))
                .MinorGridLines(m => m.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric().Min(1).Max(Model.TeamCount).Labels(true).Reverse().MajorUnit(1)
                        .AxisCrossingValue(Model.TeamCount)
                .Line(line => line.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
            )
        )
    </div>
</div>

@Html.SelectTab("progress")