@model FootballOracle.Models.ViewModels.Approvable.People.PersonEditorViewModel

@{ ViewBag.Title = "Create new person:"; }

<div class="row col-md-6 col-lg-offset-3">
    @Html.EditorForModel()
</div>
