@model FootballOracle.Models.ViewModels.Approvable.Competitions.CompetitionEditorViewModel

@{ ViewBag.Title = "Create new competition:"; }

<div class="row col-md-6 col-lg-offset-3">
    @Html.EditorForModel()
</div>
