@model FootballOracle.Models.ViewModels.Approvable.Venues.VenueEditorViewModel

@{ ViewBag.Title = "Create new venue:"; }

<div class="row col-md-6 col-lg-offset-3">
    @Html.EditorForModel()
</div>
