@{
    ViewBag.Title = "Account registration";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    An email has been sent to the email address used for registration.
    Please check your email and follow the instructions.
</p>
