@model Guid?

<div class="row form-group">
    <div class="col-md-8">

        @Html.LabelForModel(new { @class = "control-label" })

        <div>
            @(Html.Kendo().DropDownListFor(m => m)
                .OptionLabel("--None--")
                .HtmlAttributes(new { style = "width:334px" })
                .DataTextField("Description")
                .Enable(!ViewData.ModelMetadata.IsReadOnly)
                .DataValueField("Code")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetOrganisationCodePickerData", "Json", new { @area = string.Empty });
                    });
                })
            )
        </div>
    </div>
</div>
