@model FootballOracle.Models.ViewModels.Approvable.Matches.MatchEditorViewModel

@{ ViewBag.Title = "Create new match (Page 1):"; }

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        @Html.EditorForModel("Editor")
    </div>
</div>