@{
    ViewBag.Title = "About";
}

<p class="">FootballOracle is an online resource of historical football data. It is also editable, allowing registered users to correct any erroneous data.</p>
<p>All development, support and maintenance is carried out by myself, so please be patient if you're awaiting a response.</p>
<p>The amount of data included is growing all the time but is currently limited to league matches</p>

<p>If you have any suggestions for future improvements, or wish to contact me, please email me at <a href="mailto:support@footballoracle.co.uk?Subject=SP001" target="_blank">support@footballoracle.co.uk</a>.</p>

<p>
    Future developments to include
    <ol>
        <li>International, Cup and friendly matches</li>
        <li>Users will be able to create their own custom leagues</li>
        <li>League Hierarchy (i.e. Can show promotion and relegation)</li>
        <li>Ratings (i.e. Users will be able to rate matches as well as individual player performances)</li>
    </ol>
</p>